body {
    background-color: gray;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;    
  display: flex;
  justify-content: center;
  align-items: center;
    
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid black; */
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}

img {
  height: 8vmin;
}

#sq1, #sq2, #sq4, #sq5, #sq7, #sq8 {
  border-left: 3px solid black;
}

#sq0, #sq1, #sq3, #sq4, #sq6, #sq7 {
  border-right: 3px solid black;
}

#sq3, #sq4, #sq5, #sq6, #sq7, #sq8 {
  border-top: 3px solid black;
}

#sq0, #sq1, #sq2, #sq3, #sq4, #sq5 {
  border-bottom: 3px solid black;
}